.footer {
    width: 1530px;
    height: 362px;
    background-color: #162C2A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    margin-top: -80px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; 
}

.footer-sections {
    column-gap: 170px;
    display: flex;
}

.footer-logo img {
    height: 72px;
    width: 225px;
    margin-left: -120px;
    margin-top: 145%;
}


.footer-branch h3{
    font: 'Poppins',sans-serif;
    font-weight: 600px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 0;
}
.footer-sections {
    display: flex;
    justify-content: center;
}

.footer-section.footer-branch {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.footer-section.footer-branch hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin: 0;
}

.footer-section.footer-branch p {
    margin: 5px 0; 
}

.footer-section.footer-branch p a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section.footer-contact{
    margin-top: 150px;
    margin-right: -30px;
}
.footer-section.footer-contact p{
    font-size: 19px;
    font-weight: 400px;
    font-family: 'Poppins',sans-serif;
color: #FFFFFF;


}
.footer-section.footer-contact.footer-social{
    row-gap: 50px;
}

.footer-section.footer-labtest{
    margin: 5px 0; 
    margin-top: 77px;
}
.footer-section.footer-care{
    margin: 5px 0; 
    margin-top: 77px;
}


.footer-social {
    display: flex;
    gap: 30px; 
    margin-top: 10px; 
    margin-left: 15px;
}
.footer-section.footer-contact .contact-info{
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin-right: -180px;
    
}
.footer-section.footer-contact svg{
    margin-bottom: 15px;
}

.social-icon:hover {
    background-color: #000000; 
    color: #ffffff; 
}
