
body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url('../../images/babyback.png');
    background-size: cover; 
    background-position: center;
    height: 273px; 
    background: #E4F8F9;
    display: flex;
    width: 1486px; 
    flex-direction: column;
    margin-left: -7px;
    position: relative; 
}

.header img {
    position: absolute;
    margin-left: 200px;
    width: 1152px; 
    height: 273px;
    align-items: center;
    justify-content: center;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    cursor: pointer;
    border-color: 3px solid #7B7B7B;
    transform: translateY(-50%);
}

.arrow-left {
    left: 150px; 
}

.arrow-right {
    right:  150px; 
}

.image {
    position: absolute;
    top: 0;
    width: 100%;
    left: -30px;
    height: 100%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
}

.image.active {
    opacity: 1;
    transform: translateX(0);
}


.featured-product {
    background-image: url('../../images/backfeatureproduct.png');
    background-size: cover;
    height: 445px;
    position: relative;
    width: 1460px;
    margin-top: -0.3%;
    overflow: hidden;
}

.featured-text h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    width: 225px;
    height: 17px;
    font-weight: 600;
    line-height: 32px;
    color: #1A1A1A;
    text-align: center;
    margin-left: 41%;
}

.arrow-right-featured, .arrow-left-featured {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 32px;
    cursor: pointer;
    transform: translateY(-50%);
}

.arrow-left-featured {
    left: 11%;
}

.arrow-right-featured {
    right: 11%;
}

.feature-img {
    display: flex;
    justify-content: center;
    height: 260px;
    width: calc(100% - 30px);
    margin-top: 40px;
    margin-left: 20px;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.feature-container.sliding {
    transform: translateX(100%);
    opacity: 0;
}

.feature-item {
 
    position: relative;
    width: 211px; 
    height: 270px; 
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.feature-item img {
    margin: 0 12px;
    object-fit: cover;
    width: 154px; 
    height: 154px; 
    margin-bottom: 50px;
}

.feature-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #140c0c;
    padding: 10px 0;
    text-align: left;
    margin-left: 50px;
}

.feature-name {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    color: #1A1A1A;
}

.feature-price {
    font-size: 16px;
    color: #1A1A1A;
    font-family: 'Inter';
    font-weight: 400px;

}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
    opacity: 1;
}

.feature_image-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 30px;
    height: 280px;
    width: 211px;
}

.button-and-circles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.featured-button {
    background-color: #162C2A;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.circles {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #EAEAEA;
    border-radius: 50%;
}

.additional-image {
    position: absolute;
    left: 76px;
    transform: translateX(-50%);
    width: 40px;
    height: 245px;
    font-weight: 600;
    font-size: 64.89px;
    color: #FFFFFF;
    top: 60px;
}



.shop-categories {
    display: grid;
    height: 630px;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
    width: 1200px;
    grid-row-gap: 0px; 
    text-align: center;
    margin-bottom: 20px;
}

.categories-container {
    display: grid;
    height: 630px;
    align-items: center;
    justify-content: center;
    width: 1200px;
    text-align: center;
    margin-top: 50px;
    margin-right: 60px;
    grid-template-rows: repeat(2, 0.2fr);
    grid-template-columns: repeat(5, 0.1fr);
}
.shop-categories img {
    width: 150px; 
    height: 150px; 
    margin-top: 40px;
    border-radius: 15px;
    /* border: 1px solid #EAEAEA; */
}

.category-item{
    align-items: center;
    justify-content: center;
    width: 205px;
    height: 246px;
    /* border: 1px solid #EAEAEA; */
}

.categ-name{
    font-size: 15px;
    font-style: 'Poppins',sans-serif;
    font-weight: 500px;
    line-height: 23px;
    margin-top: 15px;
    text-align: center;
    color: #000000;
    height: 11px;
}
.shop-text {
    grid-column: span 4;
    margin-bottom: 30px;
    width: 230px;
    height: 17px;
    margin-left: 35%;
    text-align: center;
}

.shop-text h3 {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #1A1A1A;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
}


.shop-concern {
    position: relative;
    text-align: center;
    margin-top: 40px;
  }
  .concern-container{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
    opacity: 1;
  }
  .concern-container.sliding{
    transform: translateX(100%);
    opacity: 0;
  }
  
  .concern-text h3 {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1A1A1A;
  }
  
  .concern-name{
    font-family: 'Poppins',sans-serif;
    font-weight: 500px;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-top: 12px;
  }
  .concern-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
  }
  
  .concern-img img {
    width: 154px; 
    height: 154px; 
    margin: 0 12px; 
    margin-top: 20px;
  }
  
  .concern-left-arrow, .concern-right-arrow {
    position: absolute;
    cursor: pointer;
  }
  
  .concern-left-arrow {
    left: 200px; 
    width: 14px;
    height: 28px;
  }
  
  .concern-right-arrow {
    right: 200px; 
    width: 14px;
    height: 28px;
  }
  

  
.brand-text h3 {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1A1A1A;
}

.shop-brand {
    position: relative;
    text-align: center;
    margin-top: 40px;
}

.brand-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 1px;
}

.brand-container.sliding{
    opacity: 0;
    transform: translate(100%);
}
.brand-container{
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease,transform 0.5s ease;
}
.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; 
}

.brand-right-arrow,
.brand-left-arrow {
    position: absolute;
    /* top: 50%; */
    width: 16px;
    height: 32px;
    cursor: pointer;
    transform: translateY(-50%);
}

.brand-left-arrow{
    left: 14%;
}

.brand-right-arrow {
    right: 12%;
}
.brand-item img {
    width: 154px; 
    height: 90px; 
    margin: 0 12px; 
    left: 694px;
    margin-top: 40px;
}

.brand-name {
    margin-top: 30px; 
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    height: 11px;
    width: 162px;
}

.brand-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.brand-button button {
    width: 96px;
    height: 31px;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #162C2A;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}



.all-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-text {
    margin-bottom: 20px;
    text-align: center;
}

.all-text h3 {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1A1A1A;
    margin-top: 50px;
}

.all-products {
    display: grid;
    width: 988px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px; 
    grid-column-gap: 60px; 
    text-align: center;
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 288px;
    height: 375px;
    border: 1px solid #EAEAEA;
}

.product-item img {
    width: 205px; 
    height: 210px; 
    display: block;
    margin: 0 auto;
}

.product-name {
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1A1A1A;
}

.product-price {
    margin-top: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #1A1A1A;
    line-height: 24px;
}

.product-button{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.product-button button{
    width: 96px;
    height: 31px;
    border-radius: 8px;
    /* border: 1px solid #000000; */
    background-color: #162C2A;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}




