.popup {
    position: fixed;
    top: 30%;
    left: 28%;
    width: 608px;
    height: 540px;
    border-radius:20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
 .top-green-section{
    width: 608px;
    height: 140px;
    background-color: #162c16;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .top-logo{
    height: 72px;
    width: 192px;
 }
 .popup-inner img{
    align-items: center;
    width: 241px;
    height: 219px;
    margin-left: 172px;
 }
 .popup-inner h5{
    font-family: 'Poppins';
    font-weight: 700px;
    color: #000000;
    font-size: 24px;
    margin-left: 182px;
 }
  .popup form {
    display: flex;
    flex-direction: column;
  }
  
  .popup label {
    margin-bottom: 10px;
  }
  
  .popup input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .popup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #0056b3;
  }
  